exportPattern("^[[:alpha:]]+")
import(magrittr)
import(ggplot2)
import(betapart)
import(corrr)
import(vegan)
import(reshape2)
importFrom(magrittr,"%>%")
importFrom(betapart,"betapart.core")
importFrom(betapart,"betapart.core.abund")
importFrom(betapart,"phylo.betapart.core")
importFrom(betapart,"phylo.betapart.core")
importFrom(betapart,"beta.pair")
importFrom(vegan, "decostand")
importFrom(reshape2, "melt")

